@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Tamil:700|Noto%20Sans%20Tamil:400');
@import "tailwindcss";

/* Define CSS Variables */
:root {
  --text: #0f1011;
  --background: #f5f7f9;
  --primary: #5487b6;
  --secondary: #98bfe3;
  --accent: #63a9e9;
}

/* Apply Fonts */
body {
  font-family: 'Noto Sans Tamil', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans Tamil', sans-serif;
  font-weight: 700;
}
